$beige: rgb(217, 217, 217);
$darkbeige: #e6d68c;
$lightgreen: #81C14B;
$green: #2E933C;
$blue: #34A2B8;
$darkblue: #35827C;
$dark: #353535;
$text-white: #fff;
$white: #fff;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap');

* {
    font-family: Poppins, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,60px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,40px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateY(0.4em);
        opacity: 0.9;
    }
}

@keyframes downarrow {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(0.4em);
        opacity: 0;
    }
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $blue $beige;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: $beige;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 10px;
  }

.fadeInUp {
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}
.maincontainer {
    width: 100%;
}
.container {
    margin: 0 auto;
    width: 80%;
  }
  
@media screen and (max-width: 480px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }
}
.navbar-brand {
    img {
        height: 30px;
    }
}

body {
    background: $white;
    display: flex;
    flex-direction: column;
    margin: 0;
    .navbar {
        width: 100%;
        display: flex;
        background: $white;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 5;
        overflow: hidden;
        box-shadow: 1px 6px 7px -6px rgba(0,0,0,0.41);
        -webkit-box-shadow: 1px 6px 7px -6px rgba(0,0,0,0.41);
        -moz-box-shadow: 1px 6px 7px -6px rgba(0,0,0,0.41);

            img {
                display: flex;
                height: 30px;
                padding: 15px;
                transition: 0.2s;
                float: left;
                &:hover {
                    transform: scale(1.05);
                    transition: 0.2s;
                }
            }
            #nav-links {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 45%;
                a {
                    display: flex;
                    margin-right: 20px;
                    color: $dark;
                    font-size: 1rem;
                    transition: 0.1s;
                }
                a:hover {
                    color: rgb(32, 180, 180);
                    transition: 0.1s;
                    margin-bottom: 5px;
                }
            }
        }
    #home {
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .home-main {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            .left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 49%;
                h1 {
                    font-size: 5rem;
                    color: #222;
                    text-align: center;
                }
                #learnmore {
                    border: 4px solid $blue;
                    border-radius: 12px;
                    padding: 20px;
                    color: $blue;
                    font-size: 1.5rem;
                    transition: 0.2s;
                    padding: 15px;
                    &:hover {
                        background: $blue;
                        color: white;
                        transition: 0.2s;
                        border: 4px solid $dark;
                    }
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 49%;
                overflow: hidden;
                img {
                    width: 500px;
                    max-width: 80%;
                    height: auto;
                    animation-delay: 0.9s;
                }
            }
        }
        a {
            overflow: hidden;
            i {
                font-size: 3rem;
                color: $dark;
                margin-top: 50px;
                padding-bottom: 20px;
                animation: downarrow 1.5s;
                animation-iteration-count: infinite;
            }
        }
    }
    #features, #about, #contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 60px;
        h1 {
            text-align: center;
            font-size: 3.5rem;
            color: $dark;
            animation: fadeInUp 0.5s;
            margin-bottom: 30px;
        }
        .feature-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .feature {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                width: 100%;
                .mr-80 {
                    margin-right: 80px !important;
                }
                .ml-80 {
                    margin-left: 80px !important;
                }
                .mt-80 {
                    padding-top: 80px !important;
                }
                .details {
                    flex-direction: column;
                    margin-right: 20px;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    width: 50%;
                    h1 {
                        color: $dark !important;
                        font-size: 3rem !important;
                    }
                    img {
                        height: 120px;
                        width: 120px;
                        border-radius: 50%;
                        margin-bottom: 10px;
                        border: 4px solid $lightgreen;
                    }
                    i {
                        padding: 20px;
                        font-size: 4rem;
                        text-align: center;
                    }
                    .fa-comments {
                        color: $lightgreen;
                    }
                    .fa-magnifying-glass {
                        color: $blue;
                    }
                    .fa-calendar {
                        color: turquoise;
                    }
                    .fa-bell {
                        color: $darkblue;
                    }
                    h1 {
                        font-size: 2rem;
                        padding-top: 0;
                        margin:0;
                        color: $text-white;
                    }
                    p {
                        font-size: 1.4rem;
                        text-align: left;
                        color: #555;
                        margin-right: auto;
                        margin-left: auto;
                    }
                    .link {
                        margin-top: 50px;
                        a {
                            border: 4px solid $blue;
                            border-radius: 12px;
                            padding: 20px;
                            color: $blue;
                            font-size: 1.5rem;
                            transition: 0.2s;
                            padding: 15px;
                            &:hover {
                                background: $blue;
                                color: white;
                                transition: 0.2s;
                                border: 4px solid $dark;
                            }
                        }
                    }
                }
                .left {
                    margin-left: 80px;
                }
                .right {
                    margin-right: 80px;
                }
                .video-container {
                    border-radius: 42px;
                    width: 300px;
                    video {
                        border-radius: 50px;
                    }
                }
            }
        }
    }
    #features {
        background: #e9e9e9;
    }
    #about {
        background: $beige;
        h1, p {
            color: $dark !important;
        }
    }
    #contact {
        display: flex;
        background: $dark;
        padding-bottom: 150px;
        h1, p, a, form, textarea, input {
            color: $text-white !important;
        }
        .form-container {
            width: 50%;
            margin-right: auto;
            margin-left: auto;
            form {
                display: flex;
                justify-content: center;
                width: 100%;
                i {
                    font-size: 1.6rem;
                }
                #form-details {
                    display: flex;
                    flex-direction: column;
                    margin-right: 40px;
                    .location, .email, .phone, .website, .warning {
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;
                        p, a {
                            margin: 0 10px;
                            color: #444;
                        }
                    }
                    .fa-warning {
                        color: rgb(255, 0, 55);
                        animation: fadeInOut 1.5s;
                        animation-iteration-count: infinite;
                    }
                    .website {
                        a {
                            text-decoration: underline;
                            color: turquoise !important;
                        }
                    }
                    .warning {
                        margin-top: 40px;
                    }
                }
                #form-message {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    input, textarea {
                        display: flex;
                        background: transparent;
                        outline: none;
                        border: 3px solid white;
                        border-radius: 10px;
                        font-size: 1.2rem;
                        padding: 10px;
                        color: $dark;
                        &:focus {
                            border: 3px solid $blue;
                        }
                    }
                    textarea {
                        display: flex;
                        margin-top: 10px;
                        resize: vertical;
                        max-height: 350px;
                        min-height: 100px;
                    }
                    #submit {
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        margin-top: 20px;
                        width: 100%;
                        padding: 10px 0px;
                        border-radius: 10px;
                        background: $blue;
                        transition: 0.1s;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    * {
        overflow-x: hidden;
        overflow-y: auto;
    }
    video, .video-container {
        display: none;
    }
    .details {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #nav-links {
        display: none !important;
    }
    #learnmore {
        margin-top: 30px;
    }
    .feature {
        margin: 0 !important;
        .details {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
        .link {
            display: none !important;
        }
        .left, .right {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
    }
    #home {
        .left {
            margin-top: 40px;
            width: 100% !important;
            justify-content: center !important;
            text-align: center !important;
            h1 {
                margin: 0 10px !important;
                text-align: center !important;
                font-size: 3rem !important;
            }
        }
        .right {
            display: none !important;
            width: 0%;
        }
    }
    #features {
        i {
            margin-top: 10px !important;
        }
    }
    #contact {
        justify-content: center;
        .form-container {
            width: 95% !important;
        }
        #form-details {
            margin-right: 0px !important;
        }
        form {
            display: flex;
            flex-direction: column;
            #form-details, #form-message {
                width: 100% !important;
            }
            #form-details {
                .warning {
                    margin: 20px 0 !important;
                }
            }
        }
    }
}
footer {
    padding: 20px;
    background: #222;
    color: white;
    justify-content: center;
    text-align: center;
    a {
        color: $blue;
    }
}

.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.ml-5 {
	margin-left: 5px;
}
.ml-10 {
	margin-left: 10px;
}
.ml-15 {
	margin-left: 15px;
}
.ml-20 {
	margin-left: 20px;
}
.mr-5 {
	margin-right: 5px;
}
.mr-10 {
	margin-right: 10px;
}
.mr-15 {
	margin-right: 15px;
}
.mr-20 {
	margin-right: 20px;
}
.mb-5 {
	margin-bottom: 5px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-20 {
	margin-bottom: 20px;
}

// font sizes
.rem-1 {
	font-size: 1rem;
}
.rem-1-5 {
	font-size: 1.5rem;
}
.rem-2 {
	font-size: 2rem;
}
.rem-2-5 {
	font-size: 2.5rem;
}
.rem-3 {
	font-size: 3rem;
}
